<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">
    <div class="panel-heading">List Page</div>
    <div class="panel-body">
        <!-- Page 1 of 30 으로 나옴 PageableImpl의 toString() 보면 getNumber() +1 -->
        <p>[[${result}]]</p>
        <div>[[${result.content}]]</div>
    </div>
</div>

<th:block layout:fragment="script" >
    <script th:inline="javascript">

    </script>
</th:block>