<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <!-- standard output log -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- spring boot default log pattern -->
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="io.spring.batch" level="DEBUG" />

  <logger name="jdbc" level="OFF" />
  <logger name="jdbc.sqlonly" level="OFF" />
  <logger name="jdbc.sqltiming" level="DEBUG" />
  <logger name="jdbc.audit" level="OFF" />
  <logger name="jdbc.resultset" level="OFF" />
  <logger name="jdbc.resultsettable" level="DEBUG" />
  <logger name="jdbc.connection" level="OFF" />
</configuration>